<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
    </li>
  <% end %>
</ul>

<form action="/tags/:name" method="get">
  <label for="filter">
    <input type="text" name="filter">
  </label>
      <input type="submit" value="Filter">
</form>
